<section id="sec_1" class="autoheight" ng-include="'/app/home/partials/_banner.html'"></section>

<section class="scholarship text-center section-padding" id="scholarship" ng-include="'/app/home/partials/_scholarships.html'"></section>

<section class="intro text-center section-padding" id="intro" ng-include="'/app/home/partials/_about.html'"></section>

<section class="features text-center" id="features" ng-include="'/app/home/partials/_features.html'"></section>

<!-- <section class="class-options text-center section-padding hide" id="class-options" ng-include="'/app/home/partials/_class-options.html'"></section> -->

<section id="pricing" class="pricing text-center section-padding" ng-include="'/app/home/partials/_pricing.html'"></section>

<section class="habakkuk text-center section-padding" id="habakkuk" ng-include="'/app/home/partials/_habakkuk.html'"></section>

<section class="text-center section-padding contact-wrap" id="contact" ng-include="'/app/home/partials/_contact.html'"></section>