/* Webfont: ITCAvantGardeGothic-Bold2 */@font-face {
    font-family: 'AvantGardeBdBT';
    src: url('/assets/fonts/ITCAvantGardeGothic-Bold2.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/ITCAvantGardeGothic-Bold2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/ITCAvantGardeGothic-Bold2.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/ITCAvantGardeGothic-Bold2.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/ITCAvantGardeGothic-Bold2.svg#ITCAvantGardeGothic-Bold2') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

