h1.title {
  font-size: 3em;
}

.conf-location {
  margin-bottom: 1em;
}

.pricing-wrap p a
{
	color:rgb(0, 109, 187)!important;
}

.pricing-wrap p a:hover,
.pricing-wrap p a:active,
.pricing-wrap p a:visited
{
	color:rgb(0, 159, 237)!important;
}
