<div id="headerMenu" class="header header-hide">
    <div class="top_line"></div>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation" easing="easeInOutCubic" offset="1000">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href scroll-to="sec_1">
                    <img src="assets/img/logo.png" alt="logo" height="40px"></a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href scroll-to="rsvp">About</a>
                    </li>
                    <li>
                        <a href scroll-to="scholarship">Scholarship</a>
                    </li>
                    <li>
                        <a href scroll-to="pricing">Class Formats</a>
                    </li>
                    <li>
                        <a href scroll-to="enrollment-options">Enrollment Options</a>
                    </li>
                    <li>
                        <a href scroll-to="contact" style="">Contact</a>
                    </li>
                    <li class="hidden">
                        <a href="#sec_1">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- <div class="header header-hide">
  <div class="top_line"></div>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation" smooth-scroll easing="easeInOutCubic" offset="1000">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="goto('sec_1')">
          <img src="assets/img/logo.png" alt="logo" height="40px"></a>
      </div>
      <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a ng-click="goto('intro')">About</a>
          </li>
          <li>
            <a ng-click="goto('partners')">Ministry Partners</a>
          </li>
          <li>
            <a ng-click="goto('instructors')">Instructors</a>
          </li>
          <li>
            <a ng-click="goto('class-options')">Pricing</a>
          </li>
          <li>
            <a ng-click="goto('contact')" style="">Contact</a>
          </li>
          <li class="hidden">
            <a href="#sec_1">Home</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
 -->