<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-9 align-center about">
      <h1 class="arrow">THE IMPACT YOUR LIFE WILL MAKE STARTS WITH SIMPLE CHOICES TODAY</h1>
      <hr>
      <p>Perspectives is a powerful 15-week course which gives you an overview of what God is doing in our world. It’s designed around four “perspectives”— Biblical, Historical, Cultural and Strategic—that will deepen your ability to perceive how He wants to work in this world through you.</p>
    </div>
    <div class="col-md-4 align-center">
    </div>
  </div>
</div>
