<div class="home-bg-under acc"></div>
<div class="container">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="headline">
      <img src="http://res.cloudinary.com/pspclass/image/fetch/w_600,q_70,c_fit,f_auto/http://perspectives-urbana.org/assets/img/layers/madeformore.png" class="wow animated fadeInDown acc" data-wow-duration="1s" data-wow-delay="300ms" style="width:100%" />
      <img src="/assets/img/layers/urbanatag.png" class="wow animated fadeInDown acc" data-wow-duration="1s" data-wow-delay="300ms" style="width:100%;" />
    </div>
  </div>
</div>
<div id="rsvp" class="light-text" ng-include="'/app/home/partials/_rsvp.html'"></div>
