<div class="class-options-bg">
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="1s">
      <h1 class="arrow">Class Options</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="speakers-wrap">
      <div class="col-md-6 col-sm-6 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
        <div class="overlay-effect effects clearfix">
          <h2>Local class</h2>
          <p>Perspectives is hosted by various churches or non-profits around the country. Teaching formats vary each week with different instructors. It is not uncommon to have small group discussions, short videos, incredible testimonies, Q&A, and teaching</p>
          <br>
          <br>
          <p>
            <a class="btn btn-default" href="http://www.perspectives.org/About#/HTML/class_format.htm" target="_blank">Learn More</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
        <div class="overlay-effect effects clearfix">
          <h2>Online class</h2>
          <p>Perspectives has opened a series of online courses designed for distance learners like you - complete with lesson discussions, course videos, and more.</p>
          <br>
          <br>
          <br>
          <p><a class="btn btn-default" href="https://class.perspectives.org/Visitor/Online.aspx" target="_blank">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
