<div class="container">
  <div class="row">
    <div class="features-wrapper">
      <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
        <div class="icon">
          250
        </div>
        <h2>Locations</h2>
        <p>
          Over 250 classes are held every year across the U.S.
        </p>
      </div>
      <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="icon">
          200,000
        </div>
        <h2>U.S. Alumni</h2>
        <p>
          Over 200,000 students have completed the Perspectives course in the U.S.
        </p>
      </div>
      <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="icon">
          60,000
        </div>
        <h2>Global Alumni</h2>
        <p>
          An additional 60,000 have completed it outside the U.S.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
