<div class="container">
  <div class="row">
    <div class="wow animated fadeInLeft align-center">
      <img src="/assets/img/layers/badge.png">
      <h3 class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
        For the earth will be filled with the knowledge of the glory of the Lord as the waters cover the sea
        <br>
        <br> Habakkuk 2:14
      </h3>
    </div>
  </div>
</div>
