<div class="container" init>
  <div class="row">
    <div class="col-md-12">
      <h1 class="arrow">Class Formats</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="pricing-wrap">
      <ul class="slides">
        <li>
          <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-1 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
            <ul class="planContainer">
              <li class="title">
                <h2><i class="fa fa-map-marker fa-6"></i></h2>
              </li>
              <li class="price">
                <p>
                  Local Class
                </p>
              </li>
              <li>
                <ul class="options" style="min-height:160px;">
                  <li>
                    <p>Perspectives is hosted by various churches or non-profits around the country. Teaching formats vary each week with different instructors. It is not uncommon to have small group discussions, short videos, incredible testimonies, Q&A, and teaching.</p>
                    <p class="hide" read-more="enrollmentOptions.credit" read-more-limit="120" read-more-label-expand="  [more]" read-more-label-collapse=""></p>
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="http://www.perspectives.org/About#/HTML/class_format.htm">Learn More</a>
              </li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-4 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
            <ul class="planContainer" style="min-height:auto;">
              <li class="title">
                <h2><i class="fa fa-globe fa-6"></i></h2>
              </li>
              <li class="price">
                <p>
                  Online Class
                </p>
              </li>
              <li>
                <ul class="options" style="min-height:160px;">
                  <li>
                    <p>Perspectives has opened a series of online courses designed for distance learners like you - complete with lesson discussions, course videos, and more.</p>
                    <p class="hide" read-more="enrollmentOptions.keyReading" read-more-limit="120" read-more-label-expand=" [more]" read-more-label-collapse=""></p>
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="https://class.perspectives.org/Visitor/Online.aspx">Learn More</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="enrollment-options"></div>
  <div class="row" style="margin-top:70px">
    <div class="col-md-12">
      <h1 class="arrow">Enrollment Options</h1>
      <hr>
      <p class="hide">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="pricing-wrap">
      <ul class="slides">
        <li>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <ul class="planContainer">
              <li class="title">
                <h2 class=""><i class="fa fa-certificate"></i></h2>
              </li>
              <li class="price">
                <p class="">
                  Certificate
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    <p>{{enrollmentOptions.certificate}}</p>
                    <p class="hide" read-more="enrollmentOptions.certificate" read-more-limit="120" read-more-label-expand="  [more]" read-more-label-collapse=""></p>
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class=" btn-effect" href="http://www.perspectives.org/About#/HTML/enrollment_options.htm">Learn More</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
            <ul class="planContainer">
              <li class="title">
                <h2><i class="fa fa-graduation-cap fa-6"></i></h2>
              </li>
              <li class="price">
                <p>
                  Credit
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    <p>{{enrollmentOptions.credit}}</p>
                    <p class="hide" read-more="enrollmentOptions.credit" read-more-limit="120" read-more-label-expand="  [more]" read-more-label-collapse=""></p>
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="http://www.perspectives.org/About#/HTML/enrollment_options.htm">Learn More</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
            <ul class="planContainer">
              <li class="title">
                <h2><i class="fa fa-book fa-6"></i></h2>
              </li>
              <li class="price">
                <p>
                  Key Reading
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    <p>{{enrollmentOptions.keyReading}}</p>
                    <p class="hide" read-more="enrollmentOptions.keyReading" read-more-limit="120" read-more-label-expand=" [more]" read-more-label-collapse=""></p>
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="http://www.perspectives.org/About#/HTML/enrollment_options.htm">Learn More</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
