<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="rsvp-wrapper">
        <div class="col-md-12 wow animated fadeInUp text-center" data-wow-duration="1s" data-wow-delay="0.9s">
          <h1 class="title">
            Urbana Next Step: Take Perspectives
          </h1>
          <h2 class="conf-location">Keep exploring your place in God’s global mission <br>after Urbana ‘15 through a Perspectives class near you.</h2>
          <div class="row">
            <p class="col-md-4 col-md-offset-4"><a class="btn btn-default large btn-block " href="https://class.perspectives.org">SIGN UP TODAY</a><br></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
