<div class="container">
  <h1>Urbana Scholarships</h1>
  <div class="clearfix">
    <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
      Urbana and Perspectives are teaming up to give a $180 scholarship to the first 1,000 students to sign up and pay for a class in 2016.
    </p>
    <a class="learn-more-btn btn-effect wow animated fadeIn" style="display:inline-block; margin-right:5px" data-wow-duration="0.5s" data-wow-delay="1.5s" data-scroll href="https://urbana.org/perspectives" target="_blank">Learn more</a>
    <a class="learn-more-btn btn-effect wow animated fadeIn" style="display:inline-block; margin-left:5px" data-wow-duration="0.5s" data-wow-delay="1.5s" href="/assets/content/Urbana - Perspectives Scholarship Directions and FAQs.docx" target="_blank">Registration Instructions</a>
  </div>
</div>
